{% set os_config = salt['grains.filter_by']({
  'Ubuntu': {
    'available_site_configurations_dir': '/etc/nginx/sites-available',
    'dir_mode': '0755', 
    'file_dir': '/etc/nginx',
    'file_group': 'www-data',
    'file_mode': '0644',
    'file_name': 'nginx.conf',
    'file_owner': 'root',
    'enabled_site_symlinks_dir': '/etc/nginx/sites-enabled',
    'package_name': 'nginx',
  },
}, grain='os') %}

